/*Footer*/
/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* This makes the content area expand to push the footer to the bottom */
}
